.base03 { background-color: #002b36; }
.base02 { background-color: #073642; }
.base01 { color: #586e75; }
.base0z { color: #657b83; }
.base0 { color: #839496; }
.base1 { color: #93a1a1; }
.base2 { background-color: #eee8d5; }
.base3 { background-color: #fdf6e3; }
.yellow { color: #b58900; }
.orange { color: #cb4b16; }
.red { color: #dc322f; }
.magenta { color: #d33682; }
a {
    color: #d33682;
    text-decoration:underline;
}
.violet { color: #6c71c4; }
.blue { color: #268bd2; }
.cyan { color: #2aa198; }
.green { color: #859900; }

.num { color: #d33682; }
a:link { color: #b58900; }
a:hover { color: #b58900; }
a:active { color: #dc322f; }

.danger { color: #002b36; background-color: #dc322f; }

.resbody {
    padding-left: 2em;
}

.resbody::selection {
    background-color: #d33682;
}

.headermenu {
    background-color: #839496; /* green */
    color: #002b36;
    margin: 0px 0px 0px 0px;
    position: fixed;
    width: 100%;
    bottom: 0; 
    left: 0;
}
.h-link:link {
    font-weight: bold;
    color: #dc322f;
    background-color: #eee8d5;
}

.headermenu-dummy {
    width: 100%;
    height: 2em;
}

hr { display: none; }

.hrliner {
    border-bottom: solid 1px #586e75;
    width: 70%
    align: right;
}

.res {
    margin: 10px 10px 10px 10px;
    padding: 3px 3px 3px 3px;
    border-left: solid 1px #859900;
}

.reshead {
    background-color: #073642;
}